<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="GracDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Flame\Congratulatory\Congratulatory\Congratulatory\Database1.mdf;Integrated Security=True; MultipleActiveResultSets=true;"/>
      
  </connectionStrings>
</configuration>